
/* MOBILE STYLES */
@media only screen and (max-width: 767px){
	
}

/* TABLET STYLES */
@media only screen and (min-width: 768px) and (max-width: 1024px){
	#container {
		width: 768px;
	}
	
	#imageSlider{
		position:relative;
		width:768px;
		height:1024px; 
		overflow:hidden;
	}
	
	#slider{
		position:absolute;
		/*position:relative;*/
		/*width:3840px;*/
		width:999999px;
		height:100%;
	}
	
	#imageSlider #slider .sliderBlock{
		width:768px;
		height:1024px;
		float:left;
		overflow:scroll;
	}
	
	#first{
		background-image:url(../images/1.jpg);
	}
	
	#second{
		background-image:url(../images/2.jpg);
	}
	
	#third{
		background-image:url(../images/3.jpg);
	}
	
	#fourth{
		background-image:url(../images/4.jpg);
	}
	
	#fifth{
		background-image:url(../images/5.jpg);
	}
	
}

/* DESKTOP STYLES */
@media only screen and (min-width: 1025px){

}

